.vs/Crimson_Realm/v14/.suo
Temp/UnityLockfile
Temp/UnityTempFile-7fd6735e2fcc20742bf37b876782bf60
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/UnityTempFile-19ccf1a71c1687f45b1cbcea605baaac
Temp/UnityTempFile-7d3240f27a44fde4096290246cde7906
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/bb/bba46aadc7d27ec4b9de33ee8e3e8115
Library/assetDatabase3
Library/
Temp/